In [1]:
import pandas as pd
import sqlalchemy
#import my_file

In [2]:
cities_dict = {
    'City':['Berlin','London'],
    'Country':['DE','GB'],
    'Population':[3800000,4100000],
    'latitude':[52.3112,51.3026],
    'longitude':[13.2418,0.739]
}

In [3]:
cities_df = pd.DataFrame(cities_dict)
cities_df

     City Country  Population  latitude  longitude
0  Berlin      DE     3800000   52.3112    13.2418
1  London      GB     4100000   51.3026     0.7390

In [4]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City        2 non-null      object
 1   Country     2 non-null      object
 2   Population  2 non-null      int64
 3   latitude    2 non-null      float64
 4   longitude   2 non-null      float64
dtypes: float64(2), int64(1), object(2)
memory usage: 212.0+ bytes

In [5]:
schema="gans"   # name of the database you want to use here
host="database-gansproject.blablaablaa.rds.amazonaws.com"        # to connect to your aws server
user="admin"
password="blablablabla" # your password!!!!
port=3306
con = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [6]:
cities_df.to_sql('cities',
                 if_exists='append',
                 con=con,
                 index=False)

2