In [2]:
#creating an intuition-based model

#data description

LotFrontage: Linear feet of street connected to property

LotArea: Lot size in square feet

TotalBsmtSF: Total square feet of basement area

BedroomAbvGr: Bedrooms above grade (does NOT include basement bedrooms)

Fireplaces: Number of fireplaces

PoolArea: Pool area in square feet

GarageCars: Size of garage in car capacity

WoodDeckSF: Wood deck area in square feet

ScreenPorch: Screen porch area in square feet

In [3]:
#Data reading & first glance

In [4]:
import pandas as pd

In [5]:
path = "housing-classification-iter-0-2.csv"
housing_classification = pd.read_csv(path)
housing_classification.columns
# data

Index(['LotArea', 'LotFrontage', 'TotalBsmtSF', 'BedroomAbvGr', 'Fireplaces',
       'PoolArea', 'GarageCars', 'WoodDeckSF', 'ScreenPorch', 'Expensive'],
      dtype='object')

In [6]:
housing_classification.head()

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive
0,8450,65.0,856,3,0,0,2,0,0,0
1,9600,80.0,1262,3,1,0,2,298,0,0
2,11250,68.0,920,3,1,0,2,0,0,0
3,9550,60.0,756,3,1,0,3,0,0,0
4,14260,84.0,1145,4,1,0,3,192,0,0

In [7]:
y = housing_classification.pop('Expensive')

In [8]:
X = housing_classification

In [9]:
# from sklearn:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=123)

In [10]:
train_test_split(X, y, test_size=0.25, random_state=123)

[      LotArea  LotFrontage  TotalBsmtSF  BedroomAbvGr  Fireplaces  PoolArea  \
 1446    26142          NaN         1188             3           0         0
 1123     9405         50.0          698             2           0         0
 186      9947          NaN         1188             3           0         0
 1020     7024         60.0         1132             2           0         0
 67      10665         72.0         1453             3           0         0
 ...       ...          ...          ...           ...         ...       ...
 1041     9130          NaN          800             4           0         0
 1122     8926          NaN          672             3           0         0
 1346    20781          NaN         1568             3           1         0
 1406     8445         70.0          768             2           0         0
 1389     6000         60.0          735             3           1         0

       GarageCars  WoodDeckSF  ScreenPorch
 1446           1         261            0
 1123           0           0            0
 186            2         168            0
 1020           2         252            0
 67             2         144            0
 ...          ...         ...          ...
 1041           2           0            0
 1122           1          64          160
 1346           2           0            0
 1406           2          58            0
 1389           2           0            0

 [1095 rows x 9 columns],
       LotArea  LotFrontage  TotalBsmtSF  BedroomAbvGr  Fireplaces  PoolArea  \
 147      9505          NaN          884             3           1         0
 676      9600         60.0         1095             4           0         0
 1304     3363         32.0          976             3           0         0
 1372     9750         75.0         1108             3           1         0
 1427    10930         60.0          913             3           1         0
 ...       ...          ...          ...           ...         ...       ...
 705      5600         70.0            0             3           0         0
 1401     7415         62.0          839             3           1         0
 55      10175        100.0         1425             3           1         0
 1315    11075         85.0          952             4           2         0
 879      7000          NaN          864             3           0         0

       GarageCars  WoodDeckSF  ScreenPorch
 147            2         144            0
 676            3           0            0
 1304           2           0            0
 1372           2         253            0
 1427           1           0            0
 ...          ...         ...          ...
 705            0           0            0
 1401           2         100            0
 55             2           0            0
 1315           2         280            0
 879            1           0            0

 [365 rows x 9 columns],
 1446    0
 1123    0
 186     0
 1020    0
 67      0
        ..
 1041    0
 1122    0
 1346    1
 1406    0
 1389    0
 Name: Expensive, Length: 1095, dtype: int64,
 147     0
 676     0
 1304    0
 1372    1
 1427    0
        ..
 705     0
 1401    0
 55      0
 1315    0
 879     0
 Name: Expensive, Length: 365, dtype: int64]

In [11]:
##4. Exploration of the train

In [12]:
whole_train = pd.concat([X_train, y_train],axis=1)
whole_train

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch,Expensive
1446,26142,NaN,1188,3,0,0,1,261,0,0
1123,9405,50.0,698,2,0,0,0,0,0,0
186,9947,NaN,1188,3,0,0,2,168,0,0
1020,7024,60.0,1132,2,0,0,2,252,0,0
67,10665,72.0,1453,3,0,0,2,144,0,0
...,...,...,...,...,...,...,...,...,...,...
1041,9130,NaN,800,4,0,0,2,0,0,0
1122,8926,NaN,672,3,0,0,1,64,160,0
1346,20781,NaN,1568,3,1,0,2,0,0,1
1406,8445,70.0,768,2,0,0,2,58,0,0
1389,6000,60.0,735,3,1,0,2,0,0,0

In [13]:
whole_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1095 entries, 1446 to 1389
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LotArea       1095 non-null   int64
 1   LotFrontage   921 non-null    float64
 2   TotalBsmtSF   1095 non-null   int64
 3   BedroomAbvGr  1095 non-null   int64
 4   Fireplaces    1095 non-null   int64
 5   PoolArea      1095 non-null   int64
 6   GarageCars    1095 non-null   int64
 7   WoodDeckSF    1095 non-null   int64
 8   ScreenPorch   1095 non-null   int64
 9   Expensive     1095 non-null   int64
dtypes: float64(1), int64(9)
memory usage: 94.1 KB

In [14]:
whole_train.groupby('Expensive').mean()

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch
Expensive,,,,,,,,,
0,9556.461046,66.560664,969.213447,2.847385,0.518677,2.304162,1.614728,84.270011,13.305229
1,14704.943038,84.021739,1557.740506,3.018987,1.126582,8.183544,2.575949,171.974684,23.924051

In [15]:
whole_train.groupby('Expensive').max()

,LotArea,LotFrontage,TotalBsmtSF,BedroomAbvGr,Fireplaces,PoolArea,GarageCars,WoodDeckSF,ScreenPorch
Expensive,,,,,,,,,
0,164660,313.0,6110,8,3,648,4,736,440
1,215245,174.0,3200,5,2,738,4,857,480

In [ ]:
##5. create your intuitive model

# expensive = 1 , Inexpensive = 0

In [ ]:
##  everything is inexpensive

In [16]:
y_pred_train_Tim = pd.Series(0,index=X_train.index)
y_pred_train_Tim.value_counts()

0    1095
dtype: int64

In [ ]:
## or   expensive houses have 2 or more garage places

In [17]:
y_pred_train_bea = pd.Series(0,index=X_train.index)
y_pred_train_bea[X_train['GarageCars'] > 2] = 1
y_pred_train_bea.value_counts()

0    963
1    132
dtype: int64

In [ ]:
# 6 Make predictions for test

In [18]:
# inexpensive
y_pred_test_tim = pd.Series(0,index=X_test.index)
y_pred_test_tim

147     0
676     0
1304    0
1372    0
1427    0
       ..
705     0
1401    0
55      0
1315    0
879     0
Length: 365, dtype: int64

In [19]:
# garage one
y_pred_test_bea = pd.Series(0,index=X_test.index)
y_pred_test_bea[X_test['GarageCars'] > 2] = 1
y_pred_test_bea.value_counts()

0    311
1     54
dtype: int64

In [ ]:
# 7. Evaluate your model on train - accuracy

In [ ]:
# inexpensive

In [20]:
from sklearn.metrics import accuracy_score

In [21]:
tim_accuracy = accuracy_score(y_true=y_train,y_pred=y_pred_train_Tim)
tim_accuracy * 100

85.57077625570776

In [ ]:
# garage one

In [22]:
bea_acccuracy_train = accuracy_score(y_true=y_train,y_pred=y_pred_train_bea)
bea_acccuracy_train * 100

90.31963470319636

In [ ]:
## Evaluate your model on test - accuracy

In [ ]:
# inexpensive

In [23]:
tim_test_accuracy = accuracy_score(y_true=y_test,y_pred=y_pred_test_tim)
tim_test_accuracy * 100

83.83561643835617

In [ ]:
# garage one

In [24]:
bea_acccuracy_test = accuracy_score(y_true=y_test,y_pred=y_pred_test_bea)
bea_acccuracy_test * 100

89.31506849315069